/*  Header block  */

.header {
	padding-top: 30px;
	
}

.header-menu__list {
	list-style: none;
}

.header-menu__item {
	display: inline-block;
	margin-right: 25px; 
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: normal;
}

.header__tel {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
	font-size: 25px;
	font-weight: 900;
}

.header__button {
		margin-left: 20px;
	}


/*  Mobile menu  */

.menu-mobile {
	position: relative;
  display: none;
  overflow: hidden;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
}

.menu-mobile::before,
.menu-mobile::after,
.menu-mobile__line {
	content: '';
	position: absolute;
	left: 0;
	background-color: #fc557c;
	width: 100%;
	height: 2px;
	-webkit-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
}

.menu-mobile__line {
	top: 9px;
}

.menu-mobile::before {
	top: 0;
}
.menu-mobile::after {
	bottom: 0;
}

.menu-mobile__checkbox:checked ~ .menu-mobile::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 9px;
  left: -14px;
}

.menu-mobile__checkbox:checked ~ .menu-mobile .menu-mobile__line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu-mobile__checkbox:checked ~ .menu-mobile::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.menu-mobile__checkbox {
	display: none;
}

